<div>
  <div id="vue-todo" data-init=<%= @todos.to_json(only: [:id, :title, :status, :deadline]) %>>
    <div v-for="todo in todos" :key="`todo-${todo.id}`">
      <p>{{todo.title}}</p>
    </div>
  </div>
  <%= form_with model: @new_todo, local: true do |f| %>
    <%= f.text_field :title %>
    <%= f.datetime_field :deadline %>
    <%= f.submit %>
  <% end %>
</div>